<launch>

   <arg name="vertical" default="false" />

   <!-- display the rois -->
   <node pkg="opt_utils" type="roi_viewer" name="HaarDispAdaViewer" >
     <param name="mode" type="string" value="roi_display"/> 
     <param name="label" type="int" value="1" />
     <param name="show_confidence" type="bool" value="true" />
     <param name="vertical" value="$(arg vertical)" />
	 <remap from ="input_image" to="HaarDispAdaColorImage"/>
	 <remap from ="input_detections" to="/detector/detections"/>  
   </node>

  <!-- ROS visualizer -->
  <!--node name="rviz_openPTrack" pkg="rviz" type="rviz" args="-d $(find tracking)/conf/tracking.rviz" /> --> 

</launch>
