<launch>

	<arg name="camera" default="torso_cam3d_left" />
	<arg name="vertical" default="true" />
		
	<!-- People detection -->
	<include file="$(find detection)/launch/detector_depth.launch">
		<arg name="camera" value="$(arg camera)" />
		<arg name="vertical" value="$(arg vertical)" />
	</include>

	<!-- People tracking -->
	<include file="$(find tracking)/launch/tracker.launch"/>

	<!-- UDP messaging -->
	<!--include file="$(find opt_utils)/launch/ros2udp_converter.launch"/> -->

	<!-- Visualization -->
	<include file="$(find opt_utils)/launch/visualization.launch"> 
		<arg name="vertical" value="$(arg vertical)" />
	</include> 

</launch>
